{% include 'header.html' %}
    <title>Contact Us - OfferSpace</title>
<body>
    <section id="contact">
        <p class="header_" style="margin-bottom: 10px;">CONTACT</p>
        <span class="abouts">
            We are always here to help and answer any questions you might have. Your feedback and queries are important to us, and we strive to provide you with the best possible support. Whether you’re seeking assistance, have suggestions, or simply want to get in touch, we have multiple ways for you to reach out to us.
        </span>
        <ul class="no-mark about-i">
            <li><strong>Company Name:</strong> OfferSpace</li>
            <li><strong>Email:</strong> <a style="text-decoration: none !important; text-decoration-line: none;" href="mailto:{{email}}">{{email}}</a></li>
            <li><strong>Phone No:</strong> <a style="text-decoration: none !important; text-decoration-line: none;" href="tel:{{phone}}">{{phone}}</a></li>
        </ul>
    </section>
</body>
{% include 'footer.html' %}