{% include 'header.html' %}
<body>
    <section>
        <p class="header_">CONTACT</p>
        <p class="smallh">Get in Touch with Us</p>
        <span class="abouts">
            We are always here to help and answer any questions you might have. Your feedback and queries are important to us, and we strive to provide you with the best possible support. Whether you’re seeking assistance, have suggestions, or simply want to get in touch, we have multiple ways for you to reach out to us.
        </span>
        <ul class="no-mark abouts">
            <li>Company Name: [Your Website Name]</li>
            <li>Email: <a style="text-decoration: none !important; text-decoration-line: none;" href="mailto:{email}">{email}</a></li>
            <li>Phone No: <a style="text-decoration: none !important; text-decoration-line: none;" href="tel:{phone}">{phone}</a></li>
        </ul>
    </section>
</body>
{% include 'footer.html' %}