{% include 'header.html' %}
    <title>OfferSpace</title>
    <style>
        #head {
            margin: 75px auto;
            width: fit-content;
        }
        .header {
            font-family: Audiowide;
            font-weight: 800;
            font-size: 4.80vw;
            width: fit-content;
            margin: 0 auto;
            padding: 0 10px;
            background: rgb(131,58,180);
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
        }
    </style>
<body>
    <section id="head">
        <span class="header">Discover Unbelievable Offers with OfferSpace</span>
        <p class="header"> Every Click is a Saving!</p>
    </section>
    <hr class="rounded">
    {% if featured != [] %}
        <section id="featured">
            <p class="title">FEATURED OFFERS</p>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for f in featured %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <a style="text-decoration: none !important; text-decoration-line: none; color: black;" href={{url_for('offer', off_title=f.offer_title)}}>
                                <img src="{{ f.img_url }}" class="d-block w-100" alt="Image {{ loop.index }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{f.store}}</h5>
                                    <p>{{f.offer_title}}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <hr class="rounded">
    {% endif %}
    <section id="store">
        <p class="title">SHOP BY STORE</p>
        <div class="container-fluid store">
            <div class="row center">
                {% for store in stores %}
                {% if loop.index0 % 4 == 0 and not loop.first %}
                    </div><div class="row center">
                {% endif %}
                <div class="col-md-3 mb-3">
                    <button type="button" class="btn btn-block" onclick="location.href='{{ url_for('store', name=store) }}'">
                        {{ store }}
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
<script src={{url_for('static', filename='script.js')}}></script>
{% include 'footer.html' %}
</html>
