{% include 'header.html' %}
    <title>{{offer.offer_title}} - OfferSpace</title>
<body>
    <section id="offer">
        <p class="header_">{{offer.offer_title}}</p>
        <p class="stino">{{offer.store}}</p>      
        <iframe class="pdf" src="https://docs.google.com/viewer?url=https://drive.google.com/uc?id={{offer.file_src}}&embedded=true" allow="autoplay">
            <p>Unable to display PDF file. <a href={{url_for('static', filename=offer.file_src)}}>Download</a> instead.</p>
        </iframe>
    </section>
</body>
{% include 'footer.html' %}